.CoursePage.row-style{
	padding: 20px
}

.CoursePage.btn{
	margin-right: 10px;
}

.CoursePage.circular-avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.CoursePage.circular-avatar img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.CoursePage.card .CoursePage.card-body .content {
	padding-left: 80px;
	margin-left: 20px;

}

.CoursePage.tag{
  display:inline-block;
    width:30%;
    border-radius: 20px;
    background-color:grey;
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.CoursePage.user-name{
  font-size:1.25rem;
  font-weight: bold;
}

/*.card-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}*/
