.CoursePage.row-style{
	padding: 20px
}

.CoursePage.btn{
	margin-right: 10px;
}

.CoursePage.circular-avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.CoursePage.circular-avatar img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.CoursePage.card .CoursePage.card-body .content {
	padding-left: 80px;
	margin-left: 20px;

}

/*.card-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}*/
