.Home.row{
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
}

.Home.col1.spring{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://i.imgur.com/jvA7DJf.jpg");
 	background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home.col1.summer{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://imgur.com/77vo4iS.jpg");
 	background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home.col1.fall{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://imgur.com/Yi7Bgpl.jpg");
 	background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home.col1.winter{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://imgur.com/bQFqBRU.jpg");
 	background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home.col2{
	background: ivory;
}

.Home.component1{
	position: relative;
	top:45%;
	transform:translateY(-50%);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 20px;
	text-align: center;
}

.Home.component2{
	position: relative;
	top:40%;
	transform:translateY(-50%);
	font-family: 'Noto Sans TC', sans-serif;
	text-align: center;
}

.Home.buttons{
	margin: 15px 0px;
	border-radius: 30px;
}