.HomaPage.row-style{
	padding: 20px
}

.HomaPage.btn{
	margin-right: 10px;
}

.HomaPage.circular-avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.HomaPage.circular-avatar img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.HomaPage.card .HomaPage.card-body .content {
  padding-left: 80px;
  margin-left: 20px;

}

.HomaPage.card {
  width: 49%;
  margin: 5px;
}

.HomePage.tag{
    display:inline-block;

    border-radius: 25px;
    background-color:grey;
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 10px;
    padding: 3px 15px;
}

.HomePage.right{
    float:right;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    margin-top: 15px;
    margin-left:10px;
}