.Home.row{
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
}

.Home.col1{
	background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url("../Database/tree_summer.jpg");
 	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home.col2{
	background: ivory;
}

.Home.component1{
	position: relative;
	top:45%;
	transform:translateY(-50%);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 20px;
	text-align: center;
}

.Home.component2{
	position: relative;
	top:40%;
	transform:translateY(-50%);
	font-family: 'Noto Sans TC', sans-serif;
	text-align: center;
}

.Home.buttons{
	margin: 15px 0px;
	border-radius: 30px;
}