.hunt.hidden { display: none; }

.hunt.border-div {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 2px;
}

div.hunt.row div:first-child hr.hunt {
	display: none;
}
hr.hunt {
	margin: 10px auto;
}

.hunt.button-col {
	text-align: right;
}

.hunt.card-header {
	display: flex;
    align-items: center; 
    justify-content: space-between;
}

.hunt.card-header button {
	vertical-align: middle;
}

.hunt.content-enter {
  opacity: 0;
  top: 120px;
}
.hunt.content-enter-active {
  opacity: 1;
  transform: translateY(-120px);
  transition: all 1000ms;
}
.hunt.content-exit {
  opacity: 1;
}
.hunt.content-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

.hunt.icon-btn {
	background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.hunt.card.card-body {
	padding-top: 12px;
	padding-bottom: 12px;
}

.hunt.row.profile-row {
	margin-top: 2px;
	margin-bottom: 2px;
}

.hunt .form-control-plaintext {
	display: inline-block;
	width: auto;
}