.hunt.hidden { display: none; }

.hunt.border-div {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 2px;
}

div.hunt.row div:first-child hr.hunt {
	display: none;
}
hr.hunt {
	margin: 10px auto;
}

.hunt.button-col {
	text-align: right;
}

.hunt.card-header {
	display: flex;
    align-items: center; 
    justify-content: space-between;
}

.hunt.card-header button {
	vertical-align: middle;
}

.hunt.alert-enter {
  opacity: 0;
}
.hunt.alert-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.hunt.alert-exit {
  opacity: 1;
}
.hunt.alert-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}