/*button*/
/*#post-btn {
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 0.5em 0.8em;
border: 3px solid #494949 !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}
#post-btn:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}*/

.post.button-col {
	text-align: right;
}

.post.help {
	color: red;
}

.post.beforeInput {
	text-align: center;
}

.post.icon-btn {
	background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    padding: 4px 12px; /* Some padding */
    margin: 8px 4px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.post.icon-btn:hover {
}

.post.icon-btn:active {
	border: none;
}

.post.alignToURL {
	margin-top: 16px;
}

