
.Profile.content{
    width:80%;
    font-family: 'Noto Sans TC', sans-serif !important;
    font-size: 18pt;
    margin-left:10vw;
    margin-top:10vh;

}
.Profile.divider {
    border-bottom: 3px solid #f0f0f0;
    margin-top:auto;
    margin-bottom: 16pt;
}
.Profile.userInfo{
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
}

.Profile.Card_Title{
    margin-left:28pt;
    font-size:28pt;
}

.Profile.icon{
    font-size:32px;
    float:right;
    color:grey;
    margin-right:1vw;
    margin-left:1vw;
    margin-top:1vh;
}

.Profile.icon:hover{
    font-size:32px;
    float:right;
    color:grey;
    margin-right:1vw;
    margin-left:1vw;
    margin-top:1vh;
    opacity: 0.5;
    cursor: pointer;
}



.Profile.Mymodal{
    max-width:30% !important;

}
.Profile.MymodalFont{
    font-family: 'Noto Sans TC', sans-serif !important;
    font-size: 18pt;
}
.Profile.MymodalTitle{
    font-family: 'Noto Sans TC', sans-serif !important;


}
.Profile.Mymodal.msg{
    width: 100% !important;
    margin:5px;
    border:none;
    border-bottom: 1px black solid;

}
.Profile.Mymodal.msgarea{

    margin:5px;
    max-width: 100% !important;


}

.Profile.EditBar{
    border:none;
    border-bottom: 2px solid gray;
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 2vh;
    /* color:gray; */
}

.Profile.iconBtn{
    font-size:24px;
    margin-left:1vw;
    color:gray;
}

.Profile.iconBtn:hover{
    opacity: 0.5;
    cursor: pointer;
}