.Checkwindow.title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20pt;
    margin-bottom: 0px;
    font-weight: 600;

}

.Checkwindow.body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: medium;
    margin-bottom: 0px;
}

.Checkwindow.cancel_button{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12pt;
    color:white;
    background-color:#FF7575;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 90px;
}
.Checkwindow.confirm_button{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12pt;
    color:white;
    background-color:#46A3FF;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 90px;
}